  <section class="page_header">
     <div class="header-box">
      <h1>Play</h1>
    </div>
  </section>
  
  
  
  <div class="ads">
    <section id="ads" class="more">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Play Bottom ! -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3003160606944426"
             data-ad-slot="2791576395"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Play Bottom 2 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3003160606944426"
             data-ad-slot="8838109999"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
  </div>