  <section class="main-content london1">
    <div class="name-box">
      <h1>Webruin</h1>
      <h2>Learn Play Code</h2>
    </div>
  </section>
  <div class="main-content brown-background">
    <section id="home" itemscope="" itemtype="http://schema.org/Organization" class="inner home container">
      <h2>WebRuin</h2>
      <p>The idea of building a website for your business may seem daunting. You don’t know where to start. You lack the technical skills to do it yourself ... not to mention the time. You fear you can’t afford it. That’s where WebRuin we can help. Our professional web designers remove the stress and anxiety of building a great site that will drive your online business. We make it easy! Here’s how ...</p>
      <ol>
        <li>We make the process simple and easy so you don’t have to sweat the details.</li>
        <li>We offer a variety of professional packages to meet your individual needs.</li>
        <li>We also offer mobile websites to meet the demands of the growing number of smartphone users.</li>
        <li>We offer continuous support ... for whenever you need it.</li>
        <li>We offer free consultations - in person, <a class="yellow" href="http://www.skype.com" target="_blank">Skype</a>, or <a class="yellow" href="https://plus.google.com/hangouts" target="_blank">Google Hangouts</a>.</li>
        <li>We take care of web hosting ... SEO ... Maintenance ... and much more.</li>
        <li>And, best of all, we make ALL it very affordable to fit your budget.</li>
      </ol>
    </section>
  </div>
  <div class="main-content london2">
    <div class="name-box">
      <h1>Services</h1>
    </div>
  </div>
  <div class="main-content blue-background">
    <section id="about" class="about container">
      <div class="icon-set">
        <div itemscope="" itemtype="http://data-vocabulary.org/Product" class="col-sm-4"><i itemscope="" itemtype="http://schema.org/Offer" itemprop="image" class="icon fa fa-paint-brush"></i>
          <h2 itemprop="name" itemscope="" itemtype="http://schema.org/Offer" class="h3">Beautiful Design</h2>
          <p itemprop="description">
            Every website is beautiful, unique and tailored to suit your needs and requirements</every>
          </p>
        </div>
        <div itemscope="" itemtype="http://data-vocabulary.org/Product" class="col-sm-4"><i itemscope="" itemtype="http://schema.org/Offer&quot; itemprop=&quot;image" class="icon fa fa-code"></i>
          <h2 itemprop="name" itemscope="" itemtype="http://schema.org/Offer" class="h3">Clean Code</h2>
          <p itemprop="description">All websites are written in valid and clean HTML5 / CSS3 & JavaScript (jQuery).</p>
        </div>
        <div itemscope="" itemtype="http://data-vocabulary.org/Product" class="col-sm-4"><i itemscope="" itemtype="http://schema.org/Offer" itemprop="image" class="icon fa fa-table"></i>
          <h2 itemprop="name" itemscope="" itemtype="http://schema.org/Offer" class="h3">Always Responsive</h2>
          <p itemprop="description">all websites are responsive. They will look great on desktop, tablets and mobile phones too.</p>
        </div>
      </div>
    </section>
  </div>
  <div id="l3" class="main-content london3 what-else">
    <div class="name-box">
      <h1 class="center">What else?</h1>
    </div>
  </div>
  <div class="main-content brown-background">
    <section id="more" class="more what-else-box container ">
      <p>Of course WebRuin is more than a Web Site Builder. On this site you will also find...</p>
      <ol>
        <li>Links to code schools along with other recourses to help motivate you and help you learn.</li>
        <li>On this site you will also be able to play with code examples, see how the work, and edit them to your hearts content.</li>
      </ol>
    </section>
  </div>
  <div class="ads">
    <section id="ads" class="more">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Pricing Bottom 1R -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3003160606944426"
           data-ad-slot="5012489597"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Home Bottom 2 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3003160606944426"
           data-ad-slot="5152090398"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
  </div>