<%= stylesheet_link_tag 'gallery.scss' %>
<section class="page_header">
   <div class="header-box">
    <h1>Gallery</h1>
  </div>
</section>
<div class="cd-main">
  <ul class="cd-gallery">
    <li id="gallery-1" class="cd-item ">
      <a href="gallery-1.html">
        <div class="white-block">
           <section class="white-block">
            <h2>PerlmanRep.com</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <b>View More</b>
          </section>
        </div>
      </a>
    </li>

    <li id="gallery-2" class="cd-item">
      <a href="gallery-2.html">
        <div class="white-block">
           <section class="white-block">
            <h2>Deconfution Consulting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <b class="set-b-text-color">View More</b>
          </section>
        </div>
      </a>
    </li>

    <li id="gallery-3" class="cd-item">
      <a class="dark-text" href="gallery-3.html">
        <div>
           <section class="white-block">
            <h2>Title 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <b class="set-b-text-color">View More</b>
          </section>
        </div>
      </a>
    </li>

    <li id="gallery-4" class="cd-item">
      <a href="item-4.html">
        <div class="white-block">
           <section class="white-block">
            <h2>Title 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <b class="set-b-text-color">View More</b>
          </section>
        </div>
      </a>
    </li>
  </ul> <!-- .cd-gallery -->
</div>
<footer>
  <div class="ads">
    <section id="ads" class="more">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Gallery Bottom 1 -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3003160606944426"
         data-ad-slot="3396155594"
         data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Gallery Bottom 2 -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3003160606944426"
         data-ad-slot="6349621996"
         data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
  </div>
