<%= stylesheet_link_tag 'learn.scss' %>
<section class="page_header">
   <div class="header-box">
    <h1>Learn</h1>
  </div>
</section>
<section class="learn_box">
  <a href='http://teamtreehouse.com'><div class="treehouse_learn"></div></a>
  <a href='http://thefirehoseproject.com'><div class="firehoseproject"></div></a>
  <a href='http://css-tricks.com'><div class="css-tricks"></div></a>
  <a href='http://tympanus.net/codrops/'><div class="codrops"></div></a>
  <a href='http://codyhouse.co'><div class="codyhouse"></div></a>
  <a href='http://developer.mozilla.org/'><div class="mdn"></div></a>
  <a href='http://msdn.microsoft.com'><div class="msdn"></div></a>
</section>
<div class="ads">
  <section id="ads" class="more">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Learn Bottom 1 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3003160606944426"
           data-ad-slot="1454443993"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Learn Bottom 2 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3003160606944426"
           data-ad-slot="4407910394"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </section>
</div>
