<%= stylesheet_link_tag 'code.scss' %>

<div class="ads">
    <section id="ads" class="more">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Code Bottom 1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3003160606944426"
             data-ad-slot="4268309593"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Code Bottom 2 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3003160606944426"
             data-ad-slot="5745042796"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
  </div>
  <footer>
    <div class="ads">
      <section id="ads" class="more">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Contact Bottom 1 -->
        <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3003160606944426"
           data-ad-slot="1779821598"
           data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Contact Bottom 2 -->
        <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3003160606944426"
           data-ad-slot="4733287997"
           data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
  </div>
  <div class="footer-left">
     <ul class="wrap">
      <li><a href="https://www.facebook.com/WebRuin" target="_blank"><div class="aboutme"></div></a></li>
      <li class="facebook"><a href="https://www.facebook.com/WebRuin" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=webruin" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li class="google-plus"><a href="https://plus.google.com/+TimSmithHDG/" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="http://teamtreehouse.com/timsmith" target="_blank"><div class="treehouse"></div></a></li>
    </ul>
  </div>
  <div class="footer-middle">
    <p>Copyright &copy; WebRuin 2015</p>
  </div>
  <div class="footer-right">
    <p>Colophon | Freinds of Webruin</p>
    <ul>
      <li><a href="heroku.com">Heroku</a></li>
      <li><a href="github.com">Github</a></li>
      <li><a href="webhostingforstudents.com">Web Hosting for Students</a></li>
      <li><a href="css-tricks.com">CSS-Tricks</a></li>
      <li><a href="codyhouse.co">Codyhouse</a></li>
      <li><a href="tympanus.net/codrops/">Codrops</a></li>
    </ul>
  </div>
